<!DOCTYPE html>
<html>
    <head>
    
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href='../css/about.css'>
        <script src='../js/about.js'></script>

        <title>
            About
        </title>

    </head>

    <body>

        <div id="UH">

            <div id="left-section">
                <a href="../html/home.html" target="_blank">
                    <img id="logo" src="../assets/common/img/Logo-with-text-edited.png">
                </a>
            </div>
        
            <div id="right-section">
                <div class="right-section-partition">

                    <a href="../html/home.html" target="_blank">
                        <img class="UH-buttons" src="../assets/common/img/icons8-home-96.png">
                    </a>
                    
                </div>

                <div class="right-section-partition">

                    <a href="/templates/html/home.html" target="_blank">
                        <img class="UH-buttons" src="../assets/common/img/icons8-cart-96.png">
                    </a>

                </div>

                <div class="right-section-partition">

                    <a href="../html/home.html" target="_blank">
                        <img class="UH-buttons" src="../assets/common/img/icons8-about-96.png">
                    </a>

                </div>

            </div>
        
        </div>

    </body>
</html>