<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" href="../css/employee.css">
</head>
<body>

	<main class="grid">
		<div class="title"><h1>Incoming Orders</h1></div>
		<div class="cards">
			<h2>Order</h2>
			<div class="item-name">
				<h4>x1</h4>
				<h4>Simple Lettuce Salad</h4>
				<h4>₱100</h4>
			</div>
			<div class="item-name">
				<h4>x3</h4>
				<h4>Insalata Mista Salad</h4>
				<h4>₱300</h4>
			</div>
			<div class="item-name">
				<h4>x2</h4>
				<h4>Kani Salad</h4>
				<h4>₱200</h4>
			</div>
			<div class="item-name">
				<h4>x1</h4>
				<h4>Caesar Salad</h4>
				<h4>₱100</h4>
			</div>
			<hr>
			<h2>Customer Info</h2>
			<div class="cinfo">
				<h4>OrderID:</h4>
				<h4>123456789</h4>
			</div>
			<div class="cinfo">
				<h4>Name:</h4>
				<h4>Lorem</h4>
			</div>
			<div class="cinfo">
				<h4>Contact Number:</h4>
				<h4>Lorem</h4>
			</div>
			<div class="cinfo">
				<h4>Address:</h4>
				<h4>Lorem</h4>
			</div>
			<hr>
			<h2>Payment Details</h2>
			<div class="cinfo">
				<h4>Order total:</h4>
				<h4>₱400</h4>
			</div>
			<div class="cinfo">
				<h4>Delivery fee:</h4>
				<h4>Free</h4>
			</div>
			<div class="cinfo">
				<h4>Total Payment:</h4>
				<h4>₱400</h4>
			</div>
			<div class="button">
				<div class="button1"><button id="orderdone" style="margin: 0 auto;" type="submit">Order Done</button></div>
				<div class="button2"><button id="cancelorder" style="margin: 0 auto;" type="submit">Cancel Order</button></div>
			</div>
		</div>



		<div class="cards">
			<h2>Order</h2>
			<div class="item-name">
				<h4>x1</h4>
				<h4>Simple Lettuce Salad</h4>
				<h4>₱100</h4>
			</div>
			<div class="item-name">
				<h4>x1</h4>
				<h4>Insalata Mista Salad</h4>
				<h4>₱100</h4>
			</div>
			<div class="item-name">
				<h4>x1</h4>
				<h4>Kani Salad</h4>
				<h4>₱100</h4>
			</div>
			<div class="item-name">
				<h4>x1</h4>
				<h4>Caesar Salad</h4>
				<h4>₱100</h4>
			</div>
			<hr>
			<h2>Customer Info</h2>
			<div class="cinfo">
				<h4>OrderID:</h4>
				<h4>123456789</h4>
			</div>
			<div class="cinfo">
				<h4>Name:</h4>
				<h4>Lorem</h4>
			</div>
			<div class="cinfo">
				<h4>Contact Number:</h4>
				<h4>Lorem</h4>
			</div>
			<div class="cinfo">
				<h4>Address:</h4>
				<h4>Lorem</h4>
			</div>
			<hr>
			<h2>Payment Details</h2>
			<div class="cinfo">
				<h4>Order total:</h4>
				<h4>₱400</h4>
			</div>
			<div class="cinfo">
				<h4>Delivery fee:</h4>
				<h4>Free</h4>
			</div>
			<div class="cinfo">
				<h4>Total Payment:</h4>
				<h4>₱400</h4>
			</div>
			<div class="button">
				<div class="button1"><button id="orderdone" style="margin: 0 auto;" type="submit">Order Done</button></div>
				<div class="button2"><button id="cancelorder" style="margin: 0 auto;" type="submit">Cancel Order</button></div>
			</div>
		</div>



		<div class="cards">
			<h2>Order</h2>
			<div class="item-name">
				<h4>x1</h4>
				<h4>Simple Lettuce Salad</h4>
				<h4>₱100</h4>
			</div>
			<div class="item-name">
				<h4>x1</h4>
				<h4>Insalata Mista Salad</h4>
				<h4>₱100</h4>
			</div>
			<div class="item-name">
				<h4>x1</h4>
				<h4>Kani Salad</h4>
				<h4>₱100</h4>
			</div>
			<div class="item-name">
				<h4>x1</h4>
				<h4>Caesar Salad</h4>
				<h4>₱100</h4>
			</div>
			<hr>
			<h2>Customer Info</h2>
			<div class="cinfo">
				<h4>OrderID:</h4>
				<h4>123456789</h4>
			</div>
			<div class="cinfo">
				<h4>Name:</h4>
				<h4>Lorem</h4>
			</div>
			<div class="cinfo">
				<h4>Contact Number:</h4>
				<h4>Lorem</h4>
			</div>
			<div class="cinfo">
				<h4>Address:</h4>
				<h4>Lorem</h4>
			</div>
			<hr>
			<h2>Payment Details</h2>
			<div class="cinfo">
				<h4>Order total:</h4>
				<h4>₱400</h4>
			</div>
			<div class="cinfo">
				<h4>Delivery fee:</h4>
				<h4>Free</h4>
			</div>
			<div class="cinfo">
				<h4>Total Payment:</h4>
				<h4>₱400</h4>
			</div>
			<div class="button">
				<div class="button1"><button id="orderdone" style="margin: 0 auto;" type="submit">Order Done</button></div>
				<div class="button2"><button id="cancelorder" style="margin: 0 auto;" type="submit">Cancel Order</button></div>
			</div>
		</div>


		
		<div class="cards">
			<h2>Order</h2>
			<div class="item-name">
				<h4>x1</h4>
				<h4>Simple Lettuce Salad</h4>
				<h4>₱100</h4>
			</div>
			<div class="item-name">
				<h4>x1</h4>
				<h4>Insalata Mista Salad</h4>
				<h4>₱100</h4>
			</div>
			<div class="item-name">
				<h4>x1</h4>
				<h4>Kani Salad</h4>
				<h4>₱100</h4>
			</div> 	
			<div class="item-name">
				<h4>x1</h4>
				<h4>Caesar Salad</h4>
				<h4>₱100</h4>
			</div>
			<hr>
			<h2>Customer Info</h2>
			<div class="cinfo">
				<h4>OrderID:</h4>
				<h4>123456789</h4>
			</div>
			<div class="cinfo">
				<h4>Name:</h4>
				<h4>Lorem</h4>
			</div>
			<div class="cinfo">
				<h4>Contact Number:</h4>
				<h4>Lorem</h4>
			</div>
			<div class="cinfo">
				<h4>Address:</h4>
				<h4>Lorem</h4>
			</div>
			<hr>
			<h2>Payment Details</h2>
			<div class="cinfo">
				<h4>Order total:</h4>
				<h4>₱400</h4>
			</div>
			<div class="cinfo">
				<h4>Delivery fee:</h4>
				<h4>Free</h4>
			</div>
			<div class="cinfo">
				<h4>Total Payment:</h4>
				<h4>₱400</h4>
			</div>
			<div class="button">
				<div class="button1"><button id="orderdone" style="margin: 0 auto;" type="submit">Order Done</button></div>
				<div class="button2"><button id="cancelorder" style="margin: 0 auto;" type="submit">Cancel Order</button></div>
			</div>
			
			
		</div>

	</main>
</body>
</html>