<html>
    <head>
        <link rel="stylesheet" href="home.css">
        <link rel="icon" type="image/x-icon" href="salad-logo.png">
        <title>
            SALAD Navotenos
        </title>
    </head>
    <body>
        <font face="Tahoma" size="5px">
            <ul>
                <li style="float:left"><a href="salad-name">SALAD Navotenos</a></li>
                <li><a href="shop">Shop</a></li>
                <li><a href="about">About</a></li>
                <li><a href="home">Home</a></li>
            </ul>
            <div class="container" style="background-color:#ffffff;">
                <div class="img">
                    <img src="../assets/home/img/kani-salad.png" width="500wf" height="500wf" alt="Kani">
                </div>
                <div class="text">
                    <font>
                        <p style="font-size: 150;">BEST SELLING<br>SALAD IN NAVOTAS</p>
                    </font>
                </div>
            </div>
        </font>
    </body>
</html>