<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/settings.css">
        <title>
            Account Settings
        </title>
    </head>


    <body>




        <main class="container"> 
            <div class="top-text">
                <h1>Account Settings</h1>
                <h5>Change your profile and account settings.</h5>
            </div>

            <img src="../assets/common/img/salad-logo.png">

            <div class="left-btntext">
                <h1>Account Settings</h1>
                <h5>Change your profile and account settings.</h5>
            </div>
        </main>

    </body>
</html>