<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/settings.css">
        <link rel="icon" type="image/x-icon" href="../assets/common/img/salad-logo.png">
        <title>
            Account Settings
        </title>
    </head>


    <body>




        <main class="container"> 
            <div class="top-text">
                <h1>Account Settings</h1>
                <h5>Change your profile and account settings.</h5>
            </div>

            <div class="left-btntext">
                <div class="user-picture">
                    <img src="../assets/settings/img/profile.png" alt="picture">
                    <h3>Justin Sheen Guiriba</h3>
                    <h6>Front-End Developer</h6>
                </div>
                <br>
                <br>
                <div class="buttons-prof">
                    <div class="profile">
                        <img src="../assets/settings/img/mukha.png" alt="profile">
                        <h3>Profile</h3>
                    </div>
                    <div class="password">
                        <img src="../assets/settings/img/password.png" alt="password">
                        <h3>Password</h3>
                    </div>
                    <div class="help">
                        <img src="../assets/settings/img/help.png" alt="help">
                        <h3>Help</h3>
                    </div>
                </div>
            </div>

            <div class="right-content">
                <div class="top-text-right">
                    <h1>Profile</h1>
                </div>
                <div class="nametxt">
                    <label for="#changethis"><b>First Name</b></label><br>
                    <input class="inputs_name" id="#changethis"  type="text" placeholder="Justin Sheen" required><br>
                </div>
                <div class="nametxt">
                    <label for="#changethis"><b>Middle Name</b></label><br>
                    <input class="inputs_name" id="#changethis"  type="text" placeholder="Mendoza"  required><br>
                </div>
                <div class="nametxt">
                    <label for="#changethis"><b>Last Name</b></label><br>
                    <input class="inputs_name" id="#changethis"  type="text" placeholder="Guiriba"  required><br>
                </div>

                
                <div class="infotxt">
                    <label for="#changethis"><b>Username</b></label><br>
                    <input class="inputs_name" id="#changethis"  type="text" placeholder="Adminx123"  required><br>
                </div>
                <div class="infotxt">
                    <label for="#changethis"><b>Contact Number</b></label><br>
                    <input class="inputs_name" id="#changethis" type="text" placeholder="09990009990"  required><br>
                </div>
                <div class="infotxt">
                    <label for="#changethis"><b>Address</b></label><br>
                    <input class="inputs_name" id="#changethis" type="text" placeholder="San Roque, Navotas City"  required><br>
                </div>

                <div class="dtxt">
                    <label for="#changethis"><b>Desciption</b></label><br>
                    <textarea class="inputs_name2" id="#changethis" type="text" cols="30" rows="3" placeholder="Front-End Developer"  required></textarea><br>
                </div> 

                <h6>Attention all users:<br><br>

                    This is a friendly reminder that no data is being saved or copied within this system. Your privacy and confidentiality are of utmost importance to us. We operate under strict protocols to ensure that your information remains secure and inaccessible to unauthorized parties.<br><br>
                    
                    Please feel assured that any interaction or input provided within this system is treated with the highest level of privacy protection. Your trust is valued, and we are committed to maintaining the integrity of your data.</h6>

            </div>


        </main>

    </body>
</html>