<!DOCTYPE html>
<html>
<head>
	<title>Transaction Page</title>
	<link rel="stylesheet" href="../css/transaction.css">
</head>
<body>
	<main class="grid">
		<!--For Address-->
		<div class="holder">
		<div class="section">
			<h1>Address</h1>
		</div>
		<div class="address">

			<form>
				<label for="textInput">Street:</label>
				<input type="text" id="street" placeholder="Street" name="textInput">
				<input type="submit" value="Edit">
			</form>
			<form>
				<label for="textInput">Barangay:</label>
				<input type="text" id="barangay" placeholder="Barangay" name="textInput">
				<input type="submit" value="Edit">
			</form>
			<form>
				<label for="textInput">City:</label>
				<input type="text" id="city" placeholder="City" name="textInput">
				<input type="submit" value="Edit">
			</form>
		</div>
	</div>

	<!--For products-->
	<div class="holder">
	<div class="section">
		<h1> Products Ordered</h1>
	</div>	
<div class="first">
	<img src="../assets/home/img/salad3.png">
	<div class="products">
		<h2>
			Lettuce
		</h2>
	</div>
	<div class="quantity">
		<h2>2x</h2>
	</div>
</div>
</div>
<!--For product details-->
<div class="holder">
	<div class="section">
		<h1>Payment Details</h1>
	</div>	
<div class="details">
	<div class="inner-details1">
	<p>Merchandise Subtotal: ₱ 500 </p>
	</div>
	<div class="inner-details2">
	<p>Value-Added Tax: ₱ 60</p>
	</div>
	<div class="inner-details3">
		<p>Shipping Fee: ₱ 0</p>
		</div>
</div>
</div>
<!--For Payment Total and button -->
<div class="holder-paytotal">
	<div class="section">
		<h1>Payment Total</h1>
	</div>	
<div class="total">
	<div class="total-amount">
	<p>Total payment: ₱ 560</p>
</div>
</div>
</div>
<div class="forbutton">
	<button class="button"><a>Place Order</a></button><br>
</div>

	</main>
</body>
</html>