body {
    background-image: url('../assets/common/img/salad-background.png');
}

.container {
    grid-gap: 0px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
} 

main{
    max-width: 1280px;
    margin: 40px auto;
    padding: 20px;
}